/*
@Author Samuel Lemly
Main CSS styling for index.html.
*/


/* Styling for background*/
body{
	background-color: SteelBlue
}
/* styling for image */
img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%
}
/* styling for main title header */
h1{
	font-family: "Helvetica";
	font-variant: normal;
	font-style: italic;
	text-align: center;
	background-color: rgb(185, 155, 221);
}
/* styling for secondary subheader */
h2{
	text-align:center;
	font-family: "Trajan"
}
/* styling for "special instructions" textarea */
textarea{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
/* styling for previous orders table */
table{
	margin-left: auto;
	margin-right: auto;
}
/* styling for previous orders table, but for sub-rows */
tr{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
/* styling for main order button*/
button{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

h3{
	text-align:center;
}
/* Formatting for ordered list */
ol.centerOrderedList{
	text-align: center;
	list-style-position: inside;
}



/*
The following was borrowed from a w3schools tutorial about hover-dropdown menus. The link is below.
https://www.w3schools.com/howto/howto_css_dropdown.asp
*/

 /* Dropdown Button */
 .dropbtn {
	background-color: SteelBlue;
	color: black;
	padding: 16px;
	font-size: 16px;
	border: none;
	font-family: "Trajan"
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
	position: absolute;
	display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: white;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgb(0,0,0);
	z-index: 1;
	height: 150px;
	overflow: auto;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: center;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
	  background-color: rgb(185, 155, 221);
	}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
	  display: block;
	}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
	  background-color: rgb(185, 155, 221);
	} 

  div.dropdownLine{
	display: inline-block;
  }
  b{
	  text-align: center;
	  margin-left: auto;
	  margin-right:auto;
  }

